body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background-color: #bfb8bc; */
}

* {
    margin: 0;
    padding:0;
    box-sizing: inherit;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* ------------------------- Header & Footer --------------------- */
/* ------------------------------------------------------ */
#header, #footer {
    height: 4rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: #242b5c;
    padding: 0 20px;
  }

  .logo {
    font-weight: bold;
    color: white;
  }

  .logo a {
    text-decoration: none;
    color: white;
  }

  .navbar {
    height: 100%;
  }

  .navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .navbar-list-item {
    margin: 0 16px;
  }

  .navbar-list-item a {
    text-decoration: none;
    color: white;
  }

  .navbar-list-item a:hover,
  .navbar-list-item a:active,
  .navbar-list-item a.router-link-active {
    color: #fa923f;
  }

.logout {
    background-color: transparent;
    border: none;
    font: inherit;
    color: white;
    cursor: pointer;
}

.logout:hover {
    color: #fa923f;
}

#footer {
    padding: 2rem;
}

#footer a {
    color: #fa923f;
}

#footer .copyright {
    text-align: center;
    color: #fff;
}

/* ------------------------- Welcome --------------------- */
/* ------------------------------------------------------- */
#welcome, #signin, #signup {
    height: 83vh;
    background-image: url(../img/background-image.jpg);
    /* background-image: linear-gradient(to right, rgba(99,99,99,.4), rgba(99,99,99,.4)),url(../img/background-image.jpg); */
    background-size: cover;
    background-position: center;
}

.welcome-title {
    padding-top: 2rem;
    color: #fff;
    text-align: center;
}

.welcome-par {
    text-align: center;
    color: #fff;
    margin-top: 3rem;
    font-size: 1.3rem;
}

/* #wells-view {
    background-color: #adadad;
} */

/* -------------------- signin-signup ------------------- */
/* ------------------------------------------------------ */

.signin-title {
    text-align: center;
    margin-bottom: 2rem;
}

.signin-form, .signup-form {
    width: 400px;
    margin: 30px auto;
    border: 1px solid #eee;
    padding: 20px;
    box-shadow: 0 2px 3px #ccc;
  }

.input {
    margin: 10px auto;
  }

.input label {
    display: block;
    color: #4e4e4e;
    margin-bottom: 6px;
}

.input.inline label {
    display: inline;
}

.input input {
    font: inherit;
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }

.input.inline input {
    width: auto;
}

.input input:focus {
    outline: none;
    border: 1px solid #521751;
    background-color: #eee;
  }

.input select {
    border: 1px solid #ccc;
    font: inherit;
}

.submit {
    text-align: center;
    margin-top: 2rem;
}

.submit button {
    border: 1px solid #521751;
    color: #fff;
    padding: 10px 20px;
    font: inherit;
    cursor: pointer;
    background-color: #2eb0a5;
    border-radius: 1rem;
    border-color: #2eb0a5;
    transition: all .4s;
  }

.submit button:hover,
.submit button:active {
    background-color: #fff;
    color: #2eb0a5;
}

.modal-header {
    background-color: #2eb0a5;
}


/* -------------------- Table of wells ------------------- */
/* ------------------------------------------------------- */
#wells-view, .welcome-img, #signin, #signup, #add-well {
    min-height: 35rem;
}

.wells-list {
    margin-bottom: 1rem;
}

.wells-list-title {
    padding-top: 1rem;
    text-align: center;
    color: #01227d;
}

table {
    border: 1px solid #01227d;
}

.table-content {
    margin-top: 1rem;
    border-collapse: collapse;
    font-size: 1rem;
    min-width: 25rem;
}

.table-content th, .table-content td {
    padding: .9rem .8rem;
}

.table-content thead tr {
    background-color: #01227d;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.table-content tbody tr:nth-of-type(even) {
    background-color: #83acc9;
}

.table-content tbody tr:nth-of-type(odd) {
    background-color: #fff;    
}

.table-content .removeIcon {
    color: red;
}

.table-content .editIcon {
    color: #364523;
}

.edit {
    margin-right: 2rem;
}

.well-edit-delete {
    text-align: center;
}



/* --------------------- forms (add well & edit well) -------------------- */
/* ----------------------------------------------------------------------- */
.box {
    width: 80rem;
    margin: 0 auto;
    padding: 20px;

}

.box h2 {
    color: #000;
}

.box-title {
    text-align: center;
    font-weight: bold;
}

.box-title h2 {
    color: #242b5c;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 1rem;
    grid-gap: .5rem;
}

.form-grid input {
    width: 65%;
    border-radius: 3px;
    padding: .3rem 1rem;
}

.label {
    justify-self: right;
    align-self: center;
    color: #242b5c;
}

.submit-btn {
    text-align: center;
    margin-top: 1rem;
}

.submit-btn button {
    background-color: #242b5c;
    padding: .5rem 3rem;
    color: #fff;
    border: 1px solid #242b5c;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s;
}

.submit-btn button:hover {
    color: #242b5c;
    background-color: #fff;
    border: 1px solid #242b5c;

}